.container>.apply_flex {
    border: 1px solid #000;
    overflow: hidden;

    margin: 20px auto 40px;
    border-radius: 20px;
    max-width: 83.333333%;

    @media (min-width: 768px) {
        margin: 40px auto 70px;
        border-radius: 30px;
        max-width: 100%;
    }
}

.input_title h3,
.input_item label {
    margin: 10px 0;

    @media (min-width: 768px) {
        margin: 15px 0;
    }
}

.input_main {
    border-top: 1px solid #000;
    min-height: 650px;
    @media (min-width: 768px) {
        min-height: 900px;
    }
}

.input_item {
    margin-top: 5px;

    @media (min-width: 768px) {
        margin-top: 10px;
    }
}

.input_item:nth-child(6) {
    margin-top: 20px;

    @media (min-width: 768px) {
        margin-top: 40px;
    }
}

.input_item>label>span {
    color: #f00;
}

.input_item input {
    background-color: #D9D9D9;
    border: 0;

    min-height: 40px;

    @media (min-width: 768px) {
        min-height: 50px;
    }
}

.input_item input::placeholder {
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.radio_item {
    gap: 20px;

    @media (min-width: 768px) {
        gap: 40px;
    }
}

.check_box {
    box-sizing: border-box;
    border: 1px solid #000;
    cursor: pointer;

    width: 20px;
    height: 20px;

    @media (min-width: 768px) {
        width: 30px;
        height: 30px;
    }
}

.check {
    display: none;
    text-align: center;
}

.radio_item input {
    display: none;
}

.radio_item input[type="radio"]:checked~.radio_item_box .check {
    display: block;
}

.radio_item .radio_item_box {
    cursor: pointer;
    gap: 10px;
    margin: 0;
}

.agree_check>.radio_item_box>.check_box {
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.file_flex .file_check {
    display: none;
}

.file_flex .file_box {
    background-color: #FF829F;
    cursor: pointer;
    margin: 0;
    border-radius: 5px;

    height: 40px;

    @media (min-width: 768px) {
        height: 50px;
    }
}

.sumbit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #FF829F;
    border-radius: 5px;

    margin-top: 20px;
    height: 40px;

    @media (min-width: 768px) {
        margin-top: 40px;
        height: 50px;
    }
}