.script_block {
    margin-block: 20px;

    @media (min-width:768px) {
        margin-block: 40px;
    }
}

.exp_card {
    margin-top: 5px;
    border-radius: 10px;

    @media (min-width:768px) {
        margin-top: 10px;
        border-radius: 20px;
    }
}

.exp_card>div {
    flex-direction: column;
    margin-bottom: 40px;

    @media (min-width:768px) {
        flex-direction: row;
        margin-bottom: 40px;
    }
}

.exp_card:nth-child(2) {
    background-color: #BF9797;
    border: 1px solid #DFA9A9;
}

.exp_card:nth-child(3) {
    background-color: #C2C39B;
    border: 1px solid #E4E5BD;
}

.exp_card:nth-child(4) {
    background-color: #97BFAB;
    border: 1px solid #B9DFCD;
}

.exp_card_img {
    margin-top: 40px;

    @media (min-width:768px) {
        margin: 0;
    }
}

.exp_card_img img {
    width: 100%;
    vertical-align: middle;
}

.exp_card_text {
    position: relative;
    left: 0;

    @media (min-width:768px) {
        left: 100px;
    }
}

.exp_card_title_flex {
    justify-content: center;

    @media (min-width:768px) {
        justify-content: flex-start;
    }
}

.exp_card_title_flex h3 {
    font-size: 1.3333rem;
    margin-right: 50px;
}

.exp_script span,
.exp_card_title_flex span {
    align-items: center;
}

.exp_script span+span {
    margin-top: 10px;
}

/* ------------------------------- */
.score_flex {
    margin: 40px 0;
    justify-content: space-around;
    @media (min-width:768px) {
        margin: 60px 0;
    }
}

.score_text {
    justify-content: center;
    align-items: center;

    @media (min-width:768px) {
        align-items: stretch;
    }
}

.score_text h3 {
    font-size: 1.3333rem;
}

.score_text h3+span {
    margin-top: 10px;
    @media (min-width:768px) {
        margin-top: 15px;
    }
}

.score_text span+span {
    margin-top: 5px;
    @media (min-width:768px) {
        margin-top: 10px;
    }
}
.score_img{
    margin-top: 10px;
    @media (min-width:768px) {
        margin: 0;
    }
}
.score_img img {
    width: 80%;
    vertical-align: middle;
    @media (min-width:768px) {
        width: 100%;
    }
}